[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Timezones Display
Icon=time-zone.png
Exec=timezones-display
StartupWMClass=timezones-display
StartupNotify=false
Terminal=false


